In [18]:
import pandas as pd
import numpy as np
import re

In [14]:
df_train = pd.read_csv("data_zindi/train.csv", index_col= "surveyid")

In [15]:
df_test = pd.read_csv("data_zindi/test.csv", index_col= "surveyid")

In [16]:
df_train.shape

(1143, 74)

In [17]:
df_train.columns

Index(['village', 'survey_date', 'femaleres', 'age', 'married', 'children',
       'hhsize', 'edu', 'hh_children', 'hh_totalmembers', 'cons_nondurable',
       'asset_livestock', 'asset_durable', 'asset_phone', 'asset_savings',
       'asset_land_owned_total', 'asset_niceroof', 'cons_allfood',
       'cons_ownfood', 'cons_alcohol', 'cons_tobacco', 'cons_med_total',
       'cons_med_children', 'cons_ed', 'cons_social', 'cons_other',
       'ent_wagelabor', 'ent_ownfarm', 'ent_business', 'ent_nonagbusiness',
       'ent_employees', 'ent_nonag_revenue', 'ent_nonag_flowcost',
       'ent_farmrevenue', 'ent_farmexpenses', 'ent_animalstockrev',
       'ent_total_cost', 'fs_adskipm_often', 'fs_adwholed_often',
       'fs_chskipm_often', 'fs_chwholed_often', 'fs_meat', 'fs_enoughtom',
       'fs_sleephun', 'med_expenses_hh_ep', 'med_expenses_sp_ep',
       'med_expenses_child_ep', 'med_portion_sickinjured',
       'med_port_sick_child', 'med_afford_port', 'med_sickdays_hhave',
       'med_healthconsult', 'med_vacc_newborns', 'med_child_check',
       'med_u5_deaths', 'ed_expenses', 'ed_expenses_perkid', 'ed_schoolattend',
       'ed_sch_missedpc', 'ed_work_act_pc', 'labor_primary',
       'wage_expenditures', 'durable_investment', 'nondurable_investment',
       'given_mpesa', 'amount_given_mpesa', 'received_mpesa',
       'amount_received_mpesa', 'net_mpesa', 'saved_mpesa',
       'amount_saved_mpesa', 'early_survey', 'depressed', 'day_of_week'],
      dtype='object')

In [19]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("The dataset has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [20]:
miss_df = missing_values_table(df_train)

The dataset has 74 columns.
There are 23 columns that have missing values.

In [21]:
miss_df

                         Missing Values  % of Total Values
med_u5_deaths                      1084               94.8
med_expenses_sp_ep                  878               76.8
med_expenses_hh_ep                  693               60.6
med_expenses_child_ep               600               52.5
ed_work_act_pc                      571               50.0
ed_sch_missedpc                     467               40.9
ed_schoolattend                     463               40.5
ed_expenses_perkid                  463               40.5
ed_expenses                         463               40.5
med_afford_port                     423               37.0
med_healthconsult                   423               37.0
cons_med_children                   419               36.7
med_port_sick_child                 416               36.4
fs_chwholed_often                   416               36.4
fs_chskipm_often                    416               36.4
fs_meat                             334               29.2
med_sickdays_hhave                  334               29.2
med_portion_sickinjured             334               29.2
fs_sleephun                         334               29.2
fs_enoughtom                        334               29.2
hh_totalmembers                     334               29.2
cons_alcohol                         43                3.8
cons_tobacco                         20                1.7